<main class="main">
  <header>
    <span class="session_span"><%= link_to 'Sesión', :login %></span>
    <span class="right_session_span"><%= t('.title') %></span>
  </header>
  <hr>
  <div class="grid">
    <aside class="aside_signup">
      <h1> <%= 'Registrarme' %> </h1>
      <%= render 'register' %>
    </aside>
  </div>
</main>